<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="master"
         connectionString="
         Data Source=(localdb)\v11.0; 
         Database=master; 
         Application Name=master_test123;
         Integrated Security=True; 
         "
         providerName="System.Data.SqlClient" />
    <add name="msdb"
         connectionString="
         Data Source=(localdb)\v11.0; 
         Database=msdb; 
         Application Name=msdb_test123;
         Integrated Security=True; 
         "
         providerName="System.Data.SqlClient" />
    <add name="tempdb"
         connectionString="
         Data Source=(localdb)\v11.0; 
         Database=tempdb; 
         Application Name=tempdb_test123;
         Integrated Security=True; 
         "
         providerName="System.Data.SqlClient" />
    <add name="ado" connectionString="DATA SOURCE=192.168.0.252;MultipleActiveResultSets=True;  USER ID=sa; PASSWORD=ultima; INITIAL CATALOG=optipharm;Application Name=optipharm"
      providerName="System.Data.SqlClient" />
    <add name="adodatawarehouse" connectionString="DATA SOURCE=192.168.0.252;MultipleActiveResultSets=True;  USER ID=ohmc; PASSWORD=ohmc.123; INITIAL CATALOG=OptipharmDataWarehouse;Application Name=OptipharmDataWarehouse"
      providerName="System.Data.SqlClient" />
    <add name="OptipharmImporting" connectionString="DATA SOURCE=192.168.0.252; MultipleActiveResultSets=True; USER ID=test; PASSWORD=test.123; INITIAL CATALOG=OptipharmImporting;Application Name=OptipharmImporting"
      providerName="System.Data.SqlClient" />
    <add name="claims" connectionString="DATA SOURCE=192.168.0.252; USER ID=test; PASSWORD=test.123; INITIAL CATALOG=OptipharmWinRXClaims;Application Name=OptipharmWinRXClaims"
      providerName="System.Data.SqlClient" />
    <add name="ohis" connectionString="DATA SOURCE=192.168.0.252; USER ID=ohis; PASSWORD=ohis; INITIAL CATALOG=ohis; Min Pool Size=5;Max Pool Size=60;Application Name=ohis"
      providerName="System.Data.SqlClient" />-->
    <add name="ado" connectionString="DATA SOURCE=192.168.0.252;MultipleActiveResultSets=True;  USER ID=sa; PASSWORD=ultima; INITIAL CATALOG=optipharm;Application Name=optipharm"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>